<!-- my_webpage.html -->
<html>

<head>
    <title>My Webpage</title>
</head>

<body>
    <h1>Welcome to my webpage!</h1>
    <!-- Your HTML content here -->

    <!-- {{ data }}

    <ul>
        {% for athlete in athlete_list %}
        <li>{{ athlete.name }}</li>
        {% endfor %}

    </ul>
    {% for obj in objects %}
    <ul>
        <li>{{ obj.name }}</li>
        <li>{{ obj.age }}</li>
        <li>{{ obj.city }}</li>
    </ul>
    {% endfor %} -->

    <h2>request for {{data}}</h2>

</body>

</html>